In [ ]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import Select, WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import time as t
import os

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import os
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import QuantileTransformer
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import SelectKBest, RFE, f_regression, SequentialFeatureSelector
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import LassoLars
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import TweedieRegressor

In [2]:
# salary_data_url = 'https://overthecap.com/contract-history/quarterback'
# driver = webdriver.Chrome(service= Service())
# driver.get(salary_data_url)
# driver.maximize_window()
# t.sleep(3)

In [3]:
# tr_elements_stats = driver.find_elements(By.XPATH, '''//tr''')

In [4]:
# master_list = []
# for i in range(len(tr_elements_stats)):
#     if i > 0:
#         master_list.append(tr_elements_stats[i].text.split())

In [5]:
# master_list

In [6]:
# salaries_data = pd.DataFrame(master_list)

In [7]:
# salaries_data.to_csv('salaries_data', sep=',', index=False, encoding='utf-8')

In [8]:
# tr_elements_stats[].text

In [13]:
df1 = pd.read_csv('2016_data')
df2 = pd.read_csv('2017_data')
df3 = pd.read_csv('2018_data')
df4 = pd.read_csv('2019_data')
df5 = pd.read_csv('2020_data')
df6 = pd.read_csv('2021_data')
df7 = pd.read_csv('2022_data')

In [14]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7])

In [45]:
df1[df1['0'] == 'Aaron Rodgers']

,0,team,1,2,3,4,5,6,7,8,...,12,13,14,15,year,first_round,divisional_round,conference_championship,superbowl,won_superbowl
31,Aaron Rodgers,GB,2.65,5.0,7.0,-1.9,14.7,48.3,-1.4,238,...,97.2,64.7,66.9,-2.2,2017,1,1,1,0,0

In [16]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7])
df['year'] = df['year'].astype('object')
df_salaries = pd.read_csv('salaries_data')
df_salaries["full_name"] = df_salaries['0'].astype(str) +" "+ df_salaries["1"]
df['year'] = [str(x) for x in df['year']]

In [11]:
the_str = ''
for i in df['0']:
    the_str = the_str + ' ' + i + ' '
the_str

' Tom Brady  Philip Rivers  Matthew Stafford  Drew Brees  Ben Roethlisberger  Matt Ryan  Kirk Cousins  Alex Smith  Russell Wilson  Jared Goff  Blake Bortles  Case Keenum  Jameis Winston  Derek Carr  Eli Manning  Dak Prescott  Andy Dalton  Cam Newton  Carson Wentz  Marcus Mariota  Joe Flacco  Jacoby Brissett  Josh McCown  DeShone Kizer  Tyrod Taylor  Jay Cutler  Trevor Siemian  Mitchell Trubisky  Carson Palmer  Brett Hundley  Deshaun Watson  Aaron Rodgers  Jimmy Garoppolo  C.J. Beathard  Tom Savage  Brian Hoyer  Ryan Fitzpatrick  Brock Osweiler  Blaine Gabbert  Drew Stanton  Mike Glennon  Tom Brady  Philip Rivers  Matthew Stafford  Drew Brees  Ben Roethlisberger  Matt Ryan  Kirk Cousins  Alex Smith  Russell Wilson  Jared Goff  Blake Bortles  Case Keenum  Jameis Winston  Derek Carr  Eli Manning  Dak Prescott  Andy Dalton  Cam Newton  Carson Wentz  Marcus Mariota  Joe Flacco  Jacoby Brissett  Josh McCown  DeShone Kizer  Tyrod Taylor  Jay Cutler  Trevor Siemian  Mitchell Trubisky  Carson Palmer  Brett Hundley  Deshaun Watson  Aaron Rodgers  Jimmy Garoppolo  C.J. Beathard  Tom Savage  Brian Hoyer  Ryan Fitzpatrick  Brock Osweiler  Blaine Gabbert  Drew Stanton  Mike Glennon  Ben Roethlisberger  Patrick Mahomes  Matt Ryan  Jared Goff  Andrew Luck  Aaron Rodgers  Tom Brady  Philip Rivers  Eli Manning  Kirk Cousins  Deshaun Watson  Derek Carr  Drew Brees  Case Keenum  Dak Prescott  Matthew Stafford  Baker Mayfield  Russell Wilson  Cam Newton  Mitchell Trubisky  Carson Wentz  Jameis Winston  Sam Darnold  Blake Bortles  Andy Dalton  Marcus Mariota  Joe Flacco  Ryan Fitzpatrick  Josh Rosen  Nick Mullens  Alex Smith  Josh Allen  Ryan Tannehill  Nick Foles  C.J. Beathard  Brock Osweiler  Lamar Jackson  Jeff Driskel  Cody Kessler  Jameis Winston  Dak Prescott  Jared Goff  Philip Rivers  Matt Ryan  Russell Wilson  Tom Brady  Derek Carr  Carson Wentz  Patrick Mahomes  Aaron Rodgers  Jimmy Garoppolo  Deshaun Watson  Baker Mayfield  Kyler Murray  Kirk Cousins  Ryan Fitzpatrick  Andy Dalton  Kyle Allen  Gardner Minshew  Mitchell Trubisky  Lamar Jackson  Josh Allen  Daniel Jones  Sam Darnold  Drew Brees  Jacoby Brissett  Ryan Tannehill  Matthew Stafford  Joe Flacco  Mason Rudolph  Case Keenum  Teddy Bridgewater  Dwayne Haskins  Marcus Mariota  Devlin Hodges  Eli Manning  Drew Lock  David Blough  Deshaun Watson  Patrick Mahomes  Tom Brady  Matt Ryan  Josh Allen  Justin Herbert  Aaron Rodgers  Kirk Cousins  Russell Wilson  Philip Rivers  Derek Carr  Matthew Stafford  Kyler Murray  Jared Goff  Ryan Tannehill  Ben Roethlisberger  Teddy Bridgewater  Baker Mayfield  Daniel Jones  Drew Brees  Drew Lock  Lamar Jackson  Joe Burrow  Cam Newton  Carson Wentz  Nick Mullens  Gardner Minshew  Sam Darnold  Andy Dalton  Ryan Fitzpatrick  Mitchell Trubisky  Dak Prescott  Nick Foles  Tua Tagovailoa  Alex Smith  Dwayne Haskins  Jimmy Garoppolo  Mike Glennon  Jalen Hurts  Brandon Allen  Joe Flacco  Tom Brady  Justin Herbert  Matthew Stafford  Patrick Mahomes  Derek Carr  Joe Burrow  Dak Prescott  Josh Allen  Kirk Cousins  Aaron Rodgers  Matt Ryan  Jimmy Garoppolo  Mac Jones  Kyler Murray  Ben Roethlisberger  Ryan Tannehill  Trevor Lawrence  Carson Wentz  Taylor Heinicke  Jared Goff  Jalen Hurts  Russell Wilson  Teddy Bridgewater  Baker Mayfield  Lamar Jackson  Davis Mills  Tua Tagovailoa  Sam Darnold  Daniel Jones  Zach Wilson  Justin Fields  Andy Dalton  Jacoby Brissett  Jameis Winston  Trevor Siemian  Tyler Huntley  Tyrod Taylor  Mike Glennon  Patrick Mahomes  Justin Herbert  Tom Brady  Kirk Cousins  Joe Burrow  Jared Goff  Josh Allen  Geno Smith  Trevor Lawrence  Jalen Hurts  Aaron Rodgers  Tua Tagovailoa  Russell Wilson  Derek Carr  Daniel Jones  Davis Mills  Matt Ryan  Mac Jones  Andy Dalton  Dak Prescott  Jacoby Brissett  Ryan Tannehill  Jimmy Garoppolo  Kenny Pickett  Kyler Murray  Lamar Jackson  Justin Fields  Marcus Mariota  Baker Mayfield  Matthew Stafford  Taylor Heinicke  Carson Wentz  Zach Wilson  Brock Purdy  Mitchell Trubisky  Mike White  Sam Darnold  Deshaun Watson  Cooper Rush  Joe Flacco '

In [34]:
def is_in(x):
    return x in the_str
    
df_salaries = df_salaries[df_salaries['full_name'].apply(is_in)]

In [35]:
test_df = df.merge(df_salaries[['full_name', '3','8']], left_on =['0', 'year'], right_on = ['full_name', '3'], how = 'outer')

In [41]:
test_df[(test_df['0'] == 'Aaron Rodgers') | (test_df['full_name'] == 'Aaron Rodgers')]

,0,team,1,2,3_x,4,5,6,7,8_x,...,15,year,first_round,divisional_round,conference_championship,superbowl,won_superbowl,full_name,3_y,8_y
62,Aaron Rodgers,GB,2.65,5.0,7.0,-1.9,14.7,48.3,-1.4,238.0,...,-2.2,2017,1.0,1.0,1.0,0.0,0.0,NaN,NaN,NaN
63,Aaron Rodgers,GB,2.65,5.0,7.0,-1.9,14.7,48.3,-1.4,238.0,...,-2.2,2017,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
89,Aaron Rodgers,GB,2.95,6.0,8.8,-2.8,13.7,61.4,-0.2,597.0,...,-1.1,2018,0.0,0.0,0.0,0.0,0.0,Aaron Rodgers,2018,18.9%
135,Aaron Rodgers,GB,2.88,5.4,8.9,-3.6,14.2,54.9,0.1,569.0,...,-1.7,2019,0.0,1.0,1.0,0.0,0.0,NaN,NaN,NaN
172,Aaron Rodgers,GB,2.72,5.5,8.1,-2.6,11.2,60.3,-0.4,526.0,...,4.4,2020,0.0,1.0,1.0,0.0,0.0,NaN,NaN,NaN
219,Aaron Rodgers,GB,2.63,4.9,7.6,-2.7,16.4,58.3,-0.6,531.0,...,3.3,2021,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN
258,Aaron Rodgers,GB,2.70,4.9,8.0,-3.1,15.1,56.3,-0.5,542.0,...,-1.6,2022,0.0,0.0,0.0,0.0,0.0,Aaron Rodgers,2022,24.1%
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aaron Rodgers,2013,17.9%
328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aaron Rodgers,2008,11.0%
394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aaron Rodgers,2005,1.8%

In [131]:
test_df[test_df['year'] == test_df['3_y']]

,0,0.1,1,2,3_x,4,5,6,7,8_x,...,10,11,12,13,14,15,year,full_name,3_y,8_y
1,Drew Brees,NO,2.42,6.2,7.6,-1.4,17.5,52.2,-1.0,673,...,37,15,101.7,70.0,65.4,4.6,2016,Drew Brees,2016,15.6%
16,Drew Brees,NO,2.59,5.9,7.1,-1.2,15.5,45.5,-1.6,489,...,32,5,115.7,74.4,67.6,6.9,2018,Drew Brees,2018,14.1%
31,Drew Brees,NO,2.66,5.4,6.3,-0.9,12.3,50.8,-2.3,390,...,24,6,106.4,70.5,69.3,1.2,2020,Drew Brees,2020,12.6%
41,Matt Ryan,ATL,2.68,6.5,8.5,-2.0,16.8,54.9,-0.5,608,...,35,8,107.4,69.4,65.3,4.1,2018,Matt Ryan,2018,16.9%
60,Kirk Cousins,WAS,2.81,7.5,9.4,-1.9,14.0,57.5,0.7,605,...,25,12,97.4,67.1,58.7,8.4,2016,Kirk Cousins,2016,12.9%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1291,Brock Purdy,SF,2.84,5.9,6.7,-0.8,9.4,44.5,-2.1,170,...,13,4,107.3,67.1,69.0,-2.0,2022,Brock Purdy,2022,0.4%
1293,Mike White,NYJ,2.80,5.7,7.6,-1.9,20.6,38.3,-1.6,175,...,3,4,75.7,58.9,63.4,-4.5,2022,Mike White,2022,1.2%
1311,Cooper Rush,DAL,2.57,6.3,8.2,-1.9,20.4,47.2,-0.4,162,...,5,3,80.0,58.0,64.0,-6.0,2022,Cooper Rush,2022,0.5%
1313,Cooper Rush,DAL,2.57,6.3,8.2,-1.9,20.4,47.2,-0.4,162,...,5,3,80.0,58.0,64.0,-6.0,2022,Cooper Rush,2022,0.2%
1314,Cooper Rush,DAL,2.57,6.3,8.2,-1.9,20.4,47.2,-0.4,162,...,5,3,80.0,58.0,64.0,-6.0,2022,Cooper Rush,2022,0.2%

In [25]:
list_of_features = the_df.columns[2:6].to_list()

In [57]:
target = the_df.columns[9]

In [58]:
train, validate, test = split_data(df, target)

In [59]:
X_train, X_validate, X_test, y_train, y_validate, y_test = get_X_train_val_test(train, validate, test, list_of_features, target)

In [69]:
metrics_train_df, metrics_validate_df, metrics_test_df = get_model_numbers(X_train, X_validate, X_test, y_train, y_validate, y_test)

In [ ]:
list_of_features = the_df.columns[2:6].to_list()
target = the_df.columns[9]
train, validate, test = split_data(df, target)
X_train, X_validate, X_test, y_train, y_validate, y_test = get_X_train_val_test(train, validate, test, list_of_features, target)
metrics_train_df, metrics_validate_df, metrics_test_df = get_model_numbers(X_train, X_validate, X_test, y_train, y_validate, y_test)

In [61]:
metrics_train_df

                      model_train  rmse  r2
0                        baseline   152   0
1     ordinary least squared(OLS)   152   0
2                lasso lars(lars)   152   0
3    Polynomial Regression(poly2)   143  12
4  Generalized Linear Model (GLM)   152   0

In [62]:
metrics_validate_df

                   model_validate  rmse  r2
0                        baseline   152   0
1     ordinary least squared(OLS)   145   2
2                lasso lars(lars)   147   0
3    Polynomial Regression(poly2)   146   1
4  Generalized Linear Model (GLM)   145   2

In [70]:
metrics_test_df

                   model_validate  rmse  r2
0                        baseline   152   0
1     ordinary least squared(OLS)   171   0
2                lasso lars(lars)   172  -1
3    Polynomial Regression(poly2)   168   3
4  Generalized Linear Model (GLM)   171   0

In [49]:
def get_X_train_val_test(train,validate, test, list_of_features,target):
    '''
    geting the X's and y's and returns them
    '''
    X_train = train[list_of_features]
    X_validate = validate[list_of_features]
    X_test = test[list_of_features]
    
    y_train = train[target]
    y_validate = validate[target]
    y_test = test[target]

    return X_train, X_validate, X_test, y_train, y_validate, y_test

In [38]:
def split_data(df, target):
    '''
    Takes in a dataframe and returns train, validate, test subset dataframes
    '''
    
    
    train, test = train_test_split(df,
                                   test_size=.2, 
                                   random_state=123, 
                                   
                                   )
    train, validate = train_test_split(train, 
                                       test_size=.25, 
                                       random_state=123, 
                                       
                                       )
    
    return train, validate, test

In [15]:
def metrics_reg(y, yhat):
    '''
    send in y_true, y_pred and returns rmse, r2
    '''
    rmse = mean_squared_error(y, yhat, squared=False)
    r2 = r2_score(y, yhat)
    return rmse, r2

In [68]:
def get_model_numbers(X_train, X_validate, X_test, y_train, y_validate, y_test):
    '''
    This function takes the data and runs it through various models and returns the
    results in pandas dataframes for train, test and validate data
    '''
    baseline = y_train.mean()
    baseline_array = np.repeat(baseline, len(X_train))
    rmse, r2 = metrics_reg(y_train, baseline_array)

    metrics_train_df = pd.DataFrame(data=[
    {
        'model_train':'baseline',
        'rmse':rmse,
        'r2':r2
    }
    ])
    metrics_validate_df = pd.DataFrame(data=[
    {
        'model_validate':'baseline',
        'rmse':rmse,
        'r2':r2
    }
    ])
    metrics_test_df = pd.DataFrame(data=[
    {
        'model_validate':'baseline',
        'rmse':rmse,
        'r2':r2
    }
    ])


    Linear_regression1 = LinearRegression()
    Linear_regression1.fit(X_train,y_train)
    predict_linear = Linear_regression1.predict(X_train)
    rmse, r2 = metrics_reg(y_train, predict_linear)
    metrics_train_df.loc[1] = ['ordinary least squared(OLS)', rmse, r2]

    predict_linear = Linear_regression1.predict(X_validate)
    rmse, r2 = metrics_reg(y_validate, predict_linear)
    metrics_validate_df.loc[1] = ['ordinary least squared(OLS)', rmse, r2]
    
    predict_linear = Linear_regression1.predict(X_test)
    rmse, r2 = metrics_reg(y_test, predict_linear)
    metrics_test_df.loc[1] = ['ordinary least squared(OLS)', rmse, r2]


    lars = LassoLars()
    lars.fit(X_train, y_train)
    pred_lars = lars.predict(X_train)
    rmse, r2 = metrics_reg(y_train, pred_lars)
    metrics_train_df.loc[2] = ['lasso lars(lars)', rmse, r2]

    pred_lars = lars.predict(X_validate)
    rmse, r2 = metrics_reg(y_validate, pred_lars)
    metrics_validate_df.loc[2] = ['lasso lars(lars)', rmse, r2]
    
    pred_lars = lars.predict(X_test)
    rmse, r2 = metrics_reg(y_test, pred_lars)
    metrics_test_df.loc[2] = ['lasso lars(lars)', rmse, r2]


    pf = PolynomialFeatures(degree=2)
    X_train_degree2 = pf.fit_transform(X_train)

    pr = LinearRegression()
    pr.fit(X_train_degree2, y_train)
    pred_pr = pr.predict(X_train_degree2)
    rmse, r2 = metrics_reg(y_train, pred_pr)
    metrics_train_df.loc[3] = ['Polynomial Regression(poly2)', rmse, r2]

    X_validate_degree2 = pf.transform(X_validate)
    pred_pr = pr.predict(X_validate_degree2)
    rmse, r2 = metrics_reg(y_validate, pred_pr)
    metrics_validate_df.loc[3] = ['Polynomial Regression(poly2)', rmse, r2]

    X_test_degree2 = pf.transform(X_test)
    pred_pr = pr.predict(X_test_degree2)
    rmse, r2 = metrics_reg(y_test, pred_pr)
    metrics_test_df.loc[3] = ['Polynomial Regression(poly2)', round(rmse,2), r2]

    
    glm = TweedieRegressor(power=2, alpha=0)
    glm.fit(X_train, y_train)
    
    pred_glm = glm.predict(X_train)
    rmse, r2 = metrics_reg(y_train, pred_glm)
    metrics_train_df.loc[4] = ['Generalized Linear Model (GLM)', rmse, r2]

    pred_glm = glm.predict(X_validate)
    rmse, r2 = metrics_reg(y_validate, pred_glm)
    metrics_validate_df.loc[4] = ['Generalized Linear Model (GLM)', rmse, r2]
    
    pred_glm = glm.predict(X_test)
    rmse, r2 = metrics_reg(y_test, pred_glm)
    metrics_test_df.loc[4] = ['Generalized Linear Model (GLM)', rmse, r2]


    metrics_train_df.rmse = metrics_train_df.rmse.astype(int)
    metrics_validate_df.rmse = metrics_validate_df.rmse.astype(int)
    metrics_test_df.rmse = metrics_test_df.rmse.astype(int)
    print()
    metrics_train_df.r2 = (metrics_train_df.r2 * 100).astype(int)
    metrics_validate_df.r2 = (metrics_validate_df.r2 * 100).astype(int)
    metrics_test_df.r2 = (metrics_test_df.r2 * 100).astype(int)

    return metrics_train_df, metrics_validate_df, metrics_test_df