In [70]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import Select, WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import time as t
import os
pd.set_option('display.max_rows', None)

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import os
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import QuantileTransformer
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import SelectKBest, RFE, f_regression, SequentialFeatureSelector
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import LassoLars
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import TweedieRegressor

In [8]:
pd.read_clipboard()

          Dan Marino    Dolphins
0        Steve Young       49ers
1        Troy Aikman     Cowboys
2         John Elway     Broncos
3         Dan Marino    Dolphins
4        Steve Young       SF/TB
5         Dan Marino    Dolphins
6         John Elway     Broncos
7      Anthony Boone       Lions
8        Brady Quinn        Rams
9        Brendon Kay    Steelers
10       Brett Smith  Buccaneers
11       Caleb Hanie     Cowboys
12       Cole Stoudt    Chargers
13   Connor Halliday  Commanders
14    Curtis Painter      Giants
15     David Garrard        Jets
16      Dennis Dixon   Cardinals
17   Dominique Davis       Colts
18    James Franklin       Lions
19      Jeff Mathews   Cardinals
20   Jerry Lovelocke      Ravens
21         Jon Kitna     Cowboys
22     Jordan Palmer      Titans
23    Jordan Rodgers    Dolphins
24       Keith Price    Seahawks
25     Logan Kilgore      Saints
26        Matt Scott     Bengals
27       Rusty Smith      Giants
28    Seneca Wallace     Packers
29   Taylor Martinez      Eagles
30        Tommy Rees  Commanders
31  Travis Partridge     Vikings
32     Trent Edwards     Raiders
33     Tyler Thigpen      Browns
34      Zac Robinson     Bengals

In [2]:
# salary_data_url = 'https://overthecap.com/contract-history/quarterback'
# driver = webdriver.Chrome(service= Service())
# driver.get(salary_data_url)
# driver.maximize_window()
# t.sleep(3)

In [3]:
# tr_elements_stats = driver.find_elements(By.XPATH, '''//tr''')

In [4]:
# master_list = []
# for i in range(len(tr_elements_stats)):
#     if i > 0:
#         master_list.append(tr_elements_stats[i].text.split())

In [5]:
# master_list

In [6]:
# salaries_data = pd.DataFrame(master_list)

In [7]:
# salaries_data.to_csv('salaries_data', sep=',', index=False, encoding='utf-8')

In [8]:
# tr_elements_stats[].text

In [206]:
df1 = pd.read_csv('2016_data')
df2 = pd.read_csv('2017_data')
df3 = pd.read_csv('2018_data')
df4 = pd.read_csv('2019_data')
df5 = pd.read_csv('2020_data')
df6 = pd.read_csv('2021_data')
df7 = pd.read_csv('2022_data')

In [207]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7])
df['year'] = df['year'].astype('object')
df_salaries = pd.read_csv('salaries_data')
df_salaries["full_name"] = df_salaries['0'].astype(str) +" "+ df_salaries["1"]
df['year'] = [str(x) for x in df['year']]

In [156]:
df.shape

(277, 23)

In [208]:
def is_in(x):
    return x in ['2022','2021','2020','2019','2018','2017','2016','2015','2014','2013','2012','2011']
    
df_salaries = df_salaries[df_salaries['3'].apply(is_in)]

In [209]:
the_str = ''
for i in df['0']:
    the_str = the_str + ' ' + i + ' '

In [210]:
def is_in(x):
    return x in the_str
    
df_salaries = df_salaries[df_salaries['full_name'].apply(is_in)]

In [160]:
df.shape

(277, 23)

In [198]:
len(test_df)

544

In [195]:
df.groupby(['year','0']).size().value_counts()

1    277
dtype: int64

In [201]:
test_df.groupby(['year','0']).size().value_counts()

1    270
3      4
2      3
dtype: int64

In [191]:
df_salaries.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,full_name
0,Aaron,Rodgers,GB/NYJ,2022,5,"$150,815,000","$50,271,667","$150,665,000",24.1%,"$162,839,635","$54,279,879","$162,677,675",NaN,Aaron Rodgers
1,Josh,Allen,Bills,2021,6,"$258,000,000","$43,000,000","$150,000,000",23.6%,"$317,799,452","$52,966,575","$184,767,123",NaN,Josh Allen
2,Russell,Wilson,Broncos,2022,5,"$245,000,000","$49,000,000","$165,000,000",23.5%,"$264,534,102","$52,906,820","$178,155,620",NaN,Russell Wilson
4,Patrick,Mahomes,Chiefs,2020,10,"$450,000,000","$45,000,000","$141,000,000",22.7%,"$510,393,542","$51,039,354","$159,923,310",NaN,Patrick Mahomes
6,Kyler,Murray,Cardinals,2022,5,"$230,500,000","$46,100,000","$160,000,000",22.1%,"$248,878,002","$49,775,600","$172,756,964",NaN,Kyler Murray

In [212]:
df_salaries[df_salaries['full_name'] == 'Cooper Rush'].sort_values(by='3')

,0,1,2,3,4,5,6,7,8,9,10,11,12,full_name
1039,Cooper,Rush,Cowboys,2017,3,"$1,670,000","$556,667","$5,000",0.3%,"$2,248,000","$749,334","$6,731",NaN,Cooper Rush
400,Cooper,Rush,Cowboys,2020,1,"$2,133,000","$2,133,000",$0,1.1%,"$2,419,265","$2,419,265",$0,NaN,Cooper Rush
512,Cooper,Rush,Giants,2020,1,"$1,250,000","$1,250,000","$150,000",0.6%,"$1,417,760","$1,417,760","$170,131",NaN,Cooper Rush
1304,Cooper,Rush,Giants,2020,1,"$204,000","$204,000",$0,0.1%,"$231,378","$231,378",$0,NaN,Cooper Rush
1306,Cooper,Rush,Cowboys,2020,1,"$204,000","$204,000",$0,0.1%,"$231,378","$231,378",$0,NaN,Cooper Rush
1316,Cooper,Rush,Cowboys,2020,1,"$204,000","$204,000",$0,0.1%,"$231,378","$231,378",$0,NaN,Cooper Rush
609,Cooper,Rush,Cowboys,2021,2,"$1,955,000","$977,500",$0,0.5%,"$2,408,132","$1,204,066",$0,NaN,Cooper Rush
654,Cooper,Rush,Cowboys,2022,1,"$1,035,000","$1,035,000",$0,0.5%,"$1,117,522","$1,117,522",$0,NaN,Cooper Rush
1206,Cooper,Rush,Cowboys,2022,1,"$395,800","$395,800",$0,0.2%,"$427,358","$427,358",$0,NaN,Cooper Rush
1220,Cooper,Rush,Cowboys,2022,1,"$358,200","$358,200",$0,0.2%,"$386,760","$386,760",$0,NaN,Cooper Rush

In [163]:
test_df.shape

(544, 26)

In [213]:
test_df['year'][test_df['year'].isnull()] = test_df['3_y']

/var/folders/9q/9mllqnsn2vq07btq58zw9zzc0000gn/T/ipykernel_49454/965941600.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['year'][test_df['year'].isnull()] = test_df['3_y']

In [102]:
# test_df['year2'] = np.where(test_df.year.isnull(), test_df['3_y'], test_df.year )

In [214]:
test_df['0'] = np.where(test_df['0'].isnull(), test_df['full_name'], test_df['0'] )

In [166]:
test_df.shape

(544, 26)

In [215]:
test_df[(test_df['0'] == 'Aaron Rodgers') | (test_df['full_name'] == 'Aaron Rodgers')] # .sort_values(by= 'year').fillna(method='ffill')

,0,team,1,2,3_x,4,5,6,7,8_x,...,15,year,first_round,divisional_round,conference_championship,superbowl,won_superbowl,full_name,3_y,8_y
3,Aaron Rodgers,GB,2.87,6.3,9.2,-3.0,16.4,60.8,0.8,610.0,...,3.5,2016,1.0,1.0,1.0,0.0,0.0,NaN,NaN,NaN
71,Aaron Rodgers,GB,2.65,5.0,7.0,-1.9,14.7,48.3,-1.4,238.0,...,-2.2,2017,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
87,Aaron Rodgers,GB,2.95,6.0,8.8,-2.8,13.7,61.4,-0.2,597.0,...,-1.1,2018,0.0,0.0,0.0,0.0,0.0,Aaron Rodgers,2018,18.9%
133,Aaron Rodgers,GB,2.88,5.4,8.9,-3.6,14.2,54.9,0.1,569.0,...,-1.7,2019,0.0,1.0,1.0,0.0,0.0,NaN,NaN,NaN
170,Aaron Rodgers,GB,2.72,5.5,8.1,-2.6,11.2,60.3,-0.4,526.0,...,4.4,2020,0.0,1.0,1.0,0.0,0.0,NaN,NaN,NaN
217,Aaron Rodgers,GB,2.63,4.9,7.6,-2.7,16.4,58.3,-0.6,531.0,...,3.3,2021,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN
256,Aaron Rodgers,GB,2.70,4.9,8.0,-3.1,15.1,56.3,-0.5,542.0,...,-1.6,2022,0.0,0.0,0.0,0.0,0.0,Aaron Rodgers,2022,24.1%
289,Aaron Rodgers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2013,NaN,NaN,NaN,NaN,NaN,Aaron Rodgers,2013,17.9%

In [216]:
test_df = test_df.sort_values(by= ['0','year'])

In [217]:
test_df[['full_name','3_y','8_y']] = test_df[['full_name','3_y','8_y']].fillna(method='ffill')

In [169]:
test_df.shape

(544, 26)

In [139]:
test_df['year'].value_counts()

2020    90
2021    84
2022    78
2018    62
2019    62
2017    53
2016    45
2015    19
2012    15
2014    14
2013    12
2011    10
Name: year, dtype: int64

In [94]:
# test_df = test_df.sort_values(by= ['0','year']).fillna(method='ffill')

In [218]:
test_df = test_df.dropna()

In [219]:
test_df.shape

(288, 26)

In [223]:
test_df = test_df.drop_duplicates()

In [224]:
test_df.shape

(284, 26)

In [225]:
test_df.to_csv('full_df')

In [220]:
test_df[test_df.duplicated()]

,0,team,1,2,3_x,4,5,6,7,8_x,...,15,year,first_round,divisional_round,conference_championship,superbowl,won_superbowl,full_name,3_y,8_y
286,Cooper Rush,DAL,2.57,6.3,8.2,-1.9,20.4,47.2,-0.4,162.0,...,-6.0,2022,1.0,1.0,0.0,0.0,0.0,Cooper Rush,2022,0.2%
159,Devlin Hodges,PIT,2.84,4.5,7.2,-2.7,10.6,46.9,-2.0,160.0,...,0.5,2019,0.0,0.0,0.0,0.0,0.0,Devlin Hodges,2019,0.3%
202,Mike Glennon,JAX,2.58,5.9,8.3,-2.4,22.3,45.0,-0.1,179.0,...,-1.0,2020,0.0,0.0,0.0,0.0,0.0,Mike Glennon,2020,0.6%
112,Nick Mullens,SF,2.70,5.8,7.4,-1.7,12.0,37.8,-1.4,274.0,...,-1.5,2018,0.0,0.0,0.0,0.0,0.0,Nick Mullens,2018,0.3%

In [171]:
test_df.shape

(288, 26)

In [145]:
test_df['year'].value_counts().sum()

288

In [30]:
test_df[test_df['year'] == test_df['3_y']]

,0,team,1,2,3_x,4,5,6,7,8_x,...,15,year,first_round,divisional_round,conference_championship,superbowl,won_superbowl,full_name,3_y,8_y
0,Drew Brees,NO,2.42,6.2,7.6,-1.4,17.5,52.2,-1.0,673.0,...,4.6,2016,0.0,0.0,0.0,0.0,0.0,Drew Brees,2016,15.6%
2,Kirk Cousins,WAS,2.81,7.5,9.4,-1.9,14.0,57.5,0.7,605.0,...,8.4,2016,0.0,0.0,0.0,0.0,0.0,Kirk Cousins,2016,12.9%
5,Joe Flacco,BAL,2.57,5.2,7.7,-2.5,17.0,62.7,-1.3,672.0,...,0.3,2016,0.0,0.0,0.0,0.0,0.0,Joe Flacco,2016,14.3%
7,Andrew Luck,IND,2.88,7.7,8.9,-1.2,18.7,57.0,-0.1,545.0,...,5.0,2016,0.0,0.0,0.0,0.0,0.0,Andrew Luck,2016,15.8%
8,Carson Palmer,ARI,2.49,7.3,10.1,-2.8,19.6,55.6,0.9,597.0,...,1.2,2016,0.0,0.0,0.0,0.0,0.0,Carson Palmer,2016,13.5%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,Deshaun Watson,CLE,3.27,5.6,7.4,-1.8,13.5,36.7,-1.8,170.0,...,-3.9,2022,0.0,0.0,0.0,0.0,0.0,Deshaun Watson,2022,22.1%
284,Cooper Rush,DAL,2.57,6.3,8.2,-1.9,20.4,47.2,-0.4,162.0,...,-6.0,2022,1.0,1.0,0.0,0.0,0.0,Cooper Rush,2022,0.5%
285,Cooper Rush,DAL,2.57,6.3,8.2,-1.9,20.4,47.2,-0.4,162.0,...,-6.0,2022,1.0,1.0,0.0,0.0,0.0,Cooper Rush,2022,0.2%
286,Cooper Rush,DAL,2.57,6.3,8.2,-1.9,20.4,47.2,-0.4,162.0,...,-6.0,2022,1.0,1.0,0.0,0.0,0.0,Cooper Rush,2022,0.2%
287,Joe Flacco,NYJ,2.75,5.5,8.2,-2.7,15.2,56.0,-1.0,191.0,...,-5.6,2022,0.0,0.0,0.0,0.0,0.0,Joe Flacco,2022,1.7%

In [150]:
test_df['6'][test_df['6'] == '0']

Series([], Name: 6, dtype: float64)

In [203]:
test_df[test_df.full_name == 'Cooper Rush']

,0,team,1,2,3_x,4,5,6,7,8_x,...,15,year,first_round,divisional_round,conference_championship,superbowl,won_superbowl,full_name,3_y,8_y
284,Cooper Rush,DAL,2.57,6.3,8.2,-1.9,20.4,47.2,-0.4,162.0,...,-6.0,2022,1.0,1.0,0.0,0.0,0.0,Cooper Rush,2022,0.5%
285,Cooper Rush,DAL,2.57,6.3,8.2,-1.9,20.4,47.2,-0.4,162.0,...,-6.0,2022,1.0,1.0,0.0,0.0,0.0,Cooper Rush,2022,0.2%
286,Cooper Rush,DAL,2.57,6.3,8.2,-1.9,20.4,47.2,-0.4,162.0,...,-6.0,2022,1.0,1.0,0.0,0.0,0.0,Cooper Rush,2022,0.2%
368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cooper Rush,2020,1.1%
369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cooper Rush,2020,0.6%
370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cooper Rush,2020,0.1%
371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cooper Rush,2020,0.1%
372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cooper Rush,2020,0.1%
452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cooper Rush,2021,0.5%
529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cooper Rush,2017,0.3%

In [25]:
list_of_features = the_df.columns[2:6].to_list()

In [57]:
target = the_df.columns[9]

In [58]:
train, validate, test = split_data(df, target)

In [59]:
X_train, X_validate, X_test, y_train, y_validate, y_test = get_X_train_val_test(train, validate, test, list_of_features, target)

In [69]:
metrics_train_df, metrics_validate_df, metrics_test_df = get_model_numbers(X_train, X_validate, X_test, y_train, y_validate, y_test)

In [ ]:
list_of_features = the_df.columns[2:6].to_list()
target = the_df.columns[9]
train, validate, test = split_data(df, target)
X_train, X_validate, X_test, y_train, y_validate, y_test = get_X_train_val_test(train, validate, test, list_of_features, target)
metrics_train_df, metrics_validate_df, metrics_test_df = get_model_numbers(X_train, X_validate, X_test, y_train, y_validate, y_test)

In [61]:
metrics_train_df

                      model_train  rmse  r2
0                        baseline   152   0
1     ordinary least squared(OLS)   152   0
2                lasso lars(lars)   152   0
3    Polynomial Regression(poly2)   143  12
4  Generalized Linear Model (GLM)   152   0

In [62]:
metrics_validate_df

                   model_validate  rmse  r2
0                        baseline   152   0
1     ordinary least squared(OLS)   145   2
2                lasso lars(lars)   147   0
3    Polynomial Regression(poly2)   146   1
4  Generalized Linear Model (GLM)   145   2

In [70]:
metrics_test_df

                   model_validate  rmse  r2
0                        baseline   152   0
1     ordinary least squared(OLS)   171   0
2                lasso lars(lars)   172  -1
3    Polynomial Regression(poly2)   168   3
4  Generalized Linear Model (GLM)   171   0

In [49]:
def get_X_train_val_test(train,validate, test, list_of_features,target):
    '''
    geting the X's and y's and returns them
    '''
    X_train = train[list_of_features]
    X_validate = validate[list_of_features]
    X_test = test[list_of_features]
    
    y_train = train[target]
    y_validate = validate[target]
    y_test = test[target]

    return X_train, X_validate, X_test, y_train, y_validate, y_test

In [38]:
def split_data(df, target):
    '''
    Takes in a dataframe and returns train, validate, test subset dataframes
    '''
    
    
    train, test = train_test_split(df,
                                   test_size=.2, 
                                   random_state=123, 
                                   
                                   )
    train, validate = train_test_split(train, 
                                       test_size=.25, 
                                       random_state=123, 
                                       
                                       )
    
    return train, validate, test

In [15]:
def metrics_reg(y, yhat):
    '''
    send in y_true, y_pred and returns rmse, r2
    '''
    rmse = mean_squared_error(y, yhat, squared=False)
    r2 = r2_score(y, yhat)
    return rmse, r2

In [68]:
def get_model_numbers(X_train, X_validate, X_test, y_train, y_validate, y_test):
    '''
    This function takes the data and runs it through various models and returns the
    results in pandas dataframes for train, test and validate data
    '''
    baseline = y_train.mean()
    baseline_array = np.repeat(baseline, len(X_train))
    rmse, r2 = metrics_reg(y_train, baseline_array)

    metrics_train_df = pd.DataFrame(data=[
    {
        'model_train':'baseline',
        'rmse':rmse,
        'r2':r2
    }
    ])
    metrics_validate_df = pd.DataFrame(data=[
    {
        'model_validate':'baseline',
        'rmse':rmse,
        'r2':r2
    }
    ])
    metrics_test_df = pd.DataFrame(data=[
    {
        'model_validate':'baseline',
        'rmse':rmse,
        'r2':r2
    }
    ])


    Linear_regression1 = LinearRegression()
    Linear_regression1.fit(X_train,y_train)
    predict_linear = Linear_regression1.predict(X_train)
    rmse, r2 = metrics_reg(y_train, predict_linear)
    metrics_train_df.loc[1] = ['ordinary least squared(OLS)', rmse, r2]

    predict_linear = Linear_regression1.predict(X_validate)
    rmse, r2 = metrics_reg(y_validate, predict_linear)
    metrics_validate_df.loc[1] = ['ordinary least squared(OLS)', rmse, r2]
    
    predict_linear = Linear_regression1.predict(X_test)
    rmse, r2 = metrics_reg(y_test, predict_linear)
    metrics_test_df.loc[1] = ['ordinary least squared(OLS)', rmse, r2]


    lars = LassoLars()
    lars.fit(X_train, y_train)
    pred_lars = lars.predict(X_train)
    rmse, r2 = metrics_reg(y_train, pred_lars)
    metrics_train_df.loc[2] = ['lasso lars(lars)', rmse, r2]

    pred_lars = lars.predict(X_validate)
    rmse, r2 = metrics_reg(y_validate, pred_lars)
    metrics_validate_df.loc[2] = ['lasso lars(lars)', rmse, r2]
    
    pred_lars = lars.predict(X_test)
    rmse, r2 = metrics_reg(y_test, pred_lars)
    metrics_test_df.loc[2] = ['lasso lars(lars)', rmse, r2]


    pf = PolynomialFeatures(degree=2)
    X_train_degree2 = pf.fit_transform(X_train)

    pr = LinearRegression()
    pr.fit(X_train_degree2, y_train)
    pred_pr = pr.predict(X_train_degree2)
    rmse, r2 = metrics_reg(y_train, pred_pr)
    metrics_train_df.loc[3] = ['Polynomial Regression(poly2)', rmse, r2]

    X_validate_degree2 = pf.transform(X_validate)
    pred_pr = pr.predict(X_validate_degree2)
    rmse, r2 = metrics_reg(y_validate, pred_pr)
    metrics_validate_df.loc[3] = ['Polynomial Regression(poly2)', rmse, r2]

    X_test_degree2 = pf.transform(X_test)
    pred_pr = pr.predict(X_test_degree2)
    rmse, r2 = metrics_reg(y_test, pred_pr)
    metrics_test_df.loc[3] = ['Polynomial Regression(poly2)', round(rmse,2), r2]

    
    glm = TweedieRegressor(power=2, alpha=0)
    glm.fit(X_train, y_train)
    
    pred_glm = glm.predict(X_train)
    rmse, r2 = metrics_reg(y_train, pred_glm)
    metrics_train_df.loc[4] = ['Generalized Linear Model (GLM)', rmse, r2]

    pred_glm = glm.predict(X_validate)
    rmse, r2 = metrics_reg(y_validate, pred_glm)
    metrics_validate_df.loc[4] = ['Generalized Linear Model (GLM)', rmse, r2]
    
    pred_glm = glm.predict(X_test)
    rmse, r2 = metrics_reg(y_test, pred_glm)
    metrics_test_df.loc[4] = ['Generalized Linear Model (GLM)', rmse, r2]


    metrics_train_df.rmse = metrics_train_df.rmse.astype(int)
    metrics_validate_df.rmse = metrics_validate_df.rmse.astype(int)
    metrics_test_df.rmse = metrics_test_df.rmse.astype(int)
    print()
    metrics_train_df.r2 = (metrics_train_df.r2 * 100).astype(int)
    metrics_validate_df.r2 = (metrics_validate_df.r2 * 100).astype(int)
    metrics_test_df.r2 = (metrics_test_df.r2 * 100).astype(int)

    return metrics_train_df, metrics_validate_df, metrics_test_df